---
import '@/css/global.css'

// components
import Header from './header.astro'
import Head from './head.astro'
import CallToAction from './call-to-action.astro'
import Footer from './footer.astro'

// api
import { collection_schema } from '@/constants/page-section'
import { getCollection } from '@/api/flux-collection'

// types, props, options
import { schemaOptions } from '@/types/options'
import type { LayoutProps } from '@/types/props'

const schema = await getCollection(schemaOptions)

const settingSchema = schema.find((item: any) => item.name === collection_schema.SETTINGS)

const { page, navigation, slug }: LayoutProps = Astro.props
---

<!doctype html>
<html lang="en">
  <Head page={page} slug={slug} settingSchema={settingSchema} />

  <body class="antialiased xl:flex">
    <Header navigation={navigation} schema={schema} />

    <div class="xl:flex xl:flex-grow">
      <div class="mx-auto w-full max-w-[1800px]">
        <slot />

        <div class="relative overflow-hidden">
          {
            !page?.fields?.hideCallToActionSections && (
              <CallToAction
                callToActionSchema={schema.find(
                  (item: any) => item.name === collection_schema.FOOTER_CALL_TO_ACTION
                )}
              />
            )
          }

          {
            !page?.fields?.hideFooter && (
              <Footer
                schema={schema}
                navigation={navigation?.items}
                hideFooterLocationInfo={page?.fields?.hideFooterLocationInfo}
              />
            )
          }

          <div
            class="absolute inset-0 bg-fixed"
            style={{
              backgroundImage: `url(https://fluxconsole.com/files/item/1334/173956/pattern-purple.svg})`,
              backgroundRepeat: 'repeat',
              backgroundSize: '20rem',
              backgroundPosition: 'right center'
            }}
          >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
